{% extends "base.html" %}
{% load socialaccount static %}
{% block content %}
<div class="auth-wrap">
<div class="card auth-panel reveal">
  <div class="card-body">
    <h1 class="card-title mb-4 reveal">Entrar com rede social</h1>
    {% get_providers as providers %}
    <div class="mb-4 reveal reveal-delay-1">
      {% for p in providers %}
        <a href="{% provider_login_url p.id %}?next={{ request.GET.next|default:'' }}" class="btn btn-outline btn-block mb-4">
          <img src="{% static 'img/social/google.svg' %}" alt="Google" width="20" height="20">
          <span>Entrar com {{ p.name }}</span>
        </a>
      {% endfor %}
    </div>
    <a href="{% url 'account_login' %}" class="btn btn-primary btn-block reveal reveal-delay-2">Entrar com email/senha</a>
  </div>
</div>
</div>
{% endblock %}
