<div class="toast-container toast-stack position-fixed top-0 end-0 p-3">
  {% if messages %}
    {% for m in messages %}
      <div class="toast align-items-center text-bg-{% if m.level == 40 %}danger{% elif m.level == 30 %}warning{% elif m.level == 25 %}warning{% elif m.level == 20 %}success{% elif m.level == 10 %}info{% else %}secondary{% endif %} border-0 show" role="alert">
        <div class="d-flex">
          <div class="toast-body">{{ m.message }}</div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
