{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="section-title mb-6 reveal">{% if form.instance.pk %}Editar{% else %}Novo{% endif %} item de portfólio</h1>
<form method="post" data-loading enctype="multipart/form-data">{% csrf_token %}
  <div class="card reveal">
    <div class="card-body">
      {{ form|crispy }}
      <div class="mt-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
